*.bak
*.ddk
*.edk
*.lst
*.lnp
*.mpf
*.mpj
*.obj
*.omf
*.plg
*.rpt
*.tmp
*.__i
*.crf
*.o
*.d
*.axf
*.tra
*.dep
JLinkLog.txt
*.iex
*.htm
*.sct
*.map
*.uvproj
*.uvopt
*.M51
*.m51
*.A51
*.a51
*.yanxcg
*.pdsbak
*.workspace